<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Members:</strong>
  <%= @band.members %>
</p>

<p>
  <strong>First show:</strong>
  <%= @band.first_show %>
</p>

<p>
  <strong>Band type:</strong>
  <%= @band.band_type %>
</p>

<p>
  <strong>Conciertos de este mes:</strong>
  <%= @band.this_month_concerts %>
</p>

<p>
  <strong>Último Concierto:</strong>
  <%= @band.last_concert_date %>
</p>

<p>
  <strong>Concierto más popular:</strong>
  <%= @band.most_popular_concert %>
</p>

<p>
  <strong>Concierto más largo:</strong>
  <%= @band.longest_concert %> mins
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
